@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: var(--font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus-visible {
  outline: none;
}
